/* /src/app/login/login.component.css */
.login-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.login-container > h2 {
  text-align: center;
}